<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
        
     <!--  DataSourceTransactionManager  is a part  of spring jdbc module! 
     transactionManager will define the boundary of the transaction
     -->   
   	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
					<property name="dataSource" ref="jdbcDataSource" />
	</bean>

<!-- Enable Annotation based Declarative Transaction Management
	@Transactional
	
	below tag associate this transactionManager with annotation @Transactional
	 -->
	<tx:annotation-driven proxy-target-class="true"	transaction-manager="transactionManager" />

</beans>
